h1 { color: #404040;
  font-family: 'Architects Daughter', cursive;
  font-size: 60px;
  margin-top: 0;
  text-align: center;
  text-shadow: 5px 5px 5px #aaa;
}


body{
  background: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.container{
  outline: 1px solid black;
  height: 400px;
  width: inherit;
}

.footer {
  padding: .5em;
  background-color: #efefef;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
}
