html{
  background-image: url("https://media.giphy.com/media/dqW8RSNNJMRrO/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-family: 'Atma', cursive;
  font-size: 50px;
  margin-top: 0;
  text-align: center;
  text-shadow: 5px 5px 5px #aaa;
  opacity: .8;
}

body{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

p{
  color: white;
  text-align: center;
  font-size: 20px;
  opacity: .7;
  margin-top: 0;
  font-family: 'Atma', cursive;
}

.player1{
  position: relative;
  max-width: 100px;
}

.player2{
  position: relative;
  max-width: 100px;
}

.container{
  height: 400px;
  width: 1150px;
  position: fixed;
}
